In [8]:
import pandas as pd
import os

In [9]:
df = pd.read_csv(os.path.join("dataset", "preprocessed_ds.csv"))

In [10]:
df.shape

(1200, 26)

In [11]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,target
0,-0.054370,-0.037797,-0.012507,-0.057974,-0.021634,-0.013976,-0.038334,-0.000743,-0.011150,-0.009928,...,-0.036374,0.000065,-0.019362,-0.018975,-0.013414,-0.005737,-0.006352,0.000613,-8.835381e-17,4
1,0.927998,0.086490,0.005188,0.058084,0.011257,-0.024652,0.009155,0.006720,0.003109,0.001622,...,-0.012596,-0.009111,-0.015764,-0.004817,-0.001930,-0.002440,0.002207,-0.000024,-3.429862e-17,4
2,-0.054370,-0.037797,-0.012507,-0.057974,-0.021634,-0.013976,-0.038334,-0.000743,-0.011150,-0.009928,...,-0.036374,0.000065,-0.019362,-0.018975,-0.013414,-0.005737,-0.006352,0.000613,-7.393419e-17,4
3,-0.054370,-0.037797,-0.012507,-0.057974,-0.021634,-0.013976,-0.038334,-0.000743,-0.011150,-0.009928,...,-0.036374,0.000065,-0.019362,-0.018975,-0.013414,-0.005737,-0.006352,0.000613,-3.781455e-17,1
4,-0.054370,-0.037797,-0.012507,-0.057974,-0.021634,-0.013976,-0.038334,-0.000743,-0.011150,-0.009928,...,-0.036374,0.000065,-0.019362,-0.018975,-0.013414,-0.005737,-0.006352,0.000613,-3.867087e-17,3

In [17]:
df["target"]

0       4
1       4
2       4
3       1
4       3
       ..
1195    3
1196    4
1197    2
1198    2
1199    2
Name: target, Length: 1200, dtype: int64

In [13]:
X = df.drop("target", axis=1)
y = df["target"]

In [14]:
X.shape

(1200, 25)

In [15]:
y.shape

(1200,)

In [16]:
y

0       4
1       4
2       4
3       1
4       3
       ..
1195    3
1196    4
1197    2
1198    2
1199    2
Name: target, Length: 1200, dtype: int64

In [22]:
import mlflow
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.svm import SVC

In [19]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.30)

In [21]:
def eval_metrics(actual, pred):
    acc = accuracy_score(actual, pred)
    recall = recall_score(actual, pred, average="weighted")
    precision = precision_score(actual, pred, average="weighted")
    f1 = f1_score(actual, pred, average="weighted")
    return acc, recall, precision, f1

In [ ]:
with mlflow.start_run():
    clf = SVC()
    clf.fit(train_x, train_y)

    mlflow.sklearn.log_model(clf, "model")

    pred = clf.predict(test_x)
    (acc, recall, precision, f1) = eval_metrics(test_y, pred)

    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("F1 score", f1)